<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		*{
			margin: 0;
			padding: 0;

		}
		li{
			list-style: none;
			float: left;
			width: 100px;
			text-align: center;
			background: green;
			margin: 0 2px;
			height: 30px;
			line-height: 30px;
		}
		a{
			text-decoration: none;
		}
		.box{
			width: 1000px;
			margin: 30px auto;
			background: pink;
			color:#fff;
		}}
	</style>
</head>
<body>
	<div class="box">
		<ul>
			<li>姓名：张唯利</li>
			<li>性别：女</li>
			<li>工作经验：3年</li>
		</ul>
	</div>
</body>
</html>